div.card.h-100 {
  img {
    border-radius: 5px 5px 0 0;
    height: 171px;
    width: 266px;
  }

  cursor: pointer;
  .card-body {
    padding: 12px 16px 12px 16px;
    .card-title {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
      font-size: 17px;
      // letter-spacing: -0.75px;
      height: 24px;
      color: #333;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .card-description {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
      font-size: 16px;
      // letter-spacing: -0.75px;
      height: 60px;
      color: #333;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .category {
      text-align: right;
    }

    .sub-teacher-name {
      font-size: 13px;
      font-weight: 400;
      color: rgb(165, 150, 150);
    }

    .text-end {
      p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #333;

        &:hover {
          color: #333;
        }
      }
    }
    ul {
      margin-top: 10px;
      li {
        color: #eb8a2f;
        font-size: 12px;
      }
    }
  }

  &:hover {
    box-shadow: 0 8px 16px gray, 0 4px 12px rgb(0 0 0 / 8%) !important;
  }
}
