header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.header-wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-brand {
    img {
      width: 50px;
      height: 50px;
    }
    span {
      margin-left: 8px;
      font-weight: normal;
    }
  }
  .nav-user-action {
    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }

    .cus-dropdown {
      button {
        background-color: transparent;
        border: none;
        color: #333;
        font-size: 14px;
        &:focus {
          box-shadow: none;
        }
      }

      a {
        font-weight: 400;
        font-size: 14px;
      }
    }

    .btn-login,
    .btn-register {
      text-transform: uppercase;
    }

    .btn-register {
      border: 1px solid black;
      padding: 9px 10px;
      border-radius: 3px;
      display: inline-block;
      color: #ffffff;
      &:hover {
        border: 1px solid #f26c4f;
      }
    }
  }
}
