body {
  background-color: #f3f3f3 !important;
}
.container {
  max-width: 1170px !important;
}
#home {
  .search-form {
    .search {
      width: 100%;
      position: relative;
      display: flex;
    }

    .searchTerm {
      border: 1px solid #eee;
      width: 400px;
      border-radius: 25px !important;
      padding: 8px 15px;
      border-radius: 5px 0 0 5px;
      outline: none;
      font-size: 14px;
      &:focus {
        border: 1px solid #f26c4f;
      }
    }

    .searchButton {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      text-align: center;
      color: #aaa;
      cursor: pointer;
      font-size: 20px;
      border: none;
      padding-right: 15px;
      &:hover {
        color: #f26c4f;
      }
    }
  }
}

#content {
  margin-top: 80px !important;
}
